<!DOCTYPE html>

<head>
    <title>title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>

     
    <h2>
        Введіть ваші дані
    </h2>
      <form action="" class="form">
          <input type="text" name="name" placeholder="Ім'я.." class="name" required>
          <input type="text" name="surname" placeholder="Прізвище.." class="surname" required>
          <input type="date" name="birthday" class="birthday" required>
          <input type="text" name="years" class="years" placeholder="Скільки вам років.." required>
          <button type="submit" class="btn">Push</button>
       </form>

       <ul class="info">

       </ul>
    
    <script src="./js/front.js"></script>
</body>

</html>
